<div class="card mt-2 elevation">
  <div class="card-title">
    <b>Most Profitable Sections</b>
  </div>
  <div class="card-content">
    <table class="tb">
      <tr>
        <td>
          <img class="image" src="/assets/img/tedber.jpeg">
        </td>
        <td>
          Tedber Soundbar
        </td>
        <td>
          <span class="cr">$ 22.13k</span>
        </td>
      </tr>

      <tr>
        <td>
          <img class="image" src="/assets/img/mcs.jpeg">
        </td>
        <td>
          Men's Casual Sneaker
        </td>
        <td>
          <span class="cr">$ 8.23k</span>
        </td>
      </tr>
      <tr>
        <td>
          <img class="image" src="/assets/img/llcs.jpeg">
        </td>
        <td>
          Ladies Leisure Casual Sneaker
        </td>
        <td>
          <span class="cr">$ 12.73k</span>
        </td>
      </tr>
      <tr>
        <td>
          <img class="image" src="/assets/img/gionnee.jpeg">
        </td>
        <td>
          Gionnee S11 Lite
        </td>
        <td>
          <span class="cr">$ 11.3kk</span>
        </td>
      </tr>
      <tr>
        <td>
          <img class="image" src="/assets/img/seagate.jpeg">
        </td>
        <td>
          Seagate 1TB HD
        </td>
        <td>
          <span class="cr">$ 7.8k</span>
        </td>
      </tr>
      <tr>
        <td>
          <img class="image" src="/assets/img/oraimo.jpeg">
        </td>
        <td>
          Oraimo Compact 1000
        </td>
        <td>
          <span class="cr">$ 9.9k</span>
        </td>
      </tr>
    </table>
  </div>
</div>
