<div class="card elevation">
  <div class="card-title">
    <b>Best Selling Product</b>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col">
        <img class="product-item" src="/assets/img/tedber.jpeg" alt="">
      </div>
      <div class="col">
        <div class="p-options tright">
          <fa-icon [icon]="fa.ellipseV"></fa-icon>
        </div>

        <!-- Stats -->
        <div class="row">
          <div class="col-sm-4">
            <div class="xps tright mt-2">
              $
            </div>
          </div>
          <div class="col-sm-8">
            <div class="xpsx mt-2">
              33,900
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="xps tright mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#3bd04a"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 6l2.29 2.29-4.88 4.88-4-4L2 16.59 3.41 18l6-6 4 4 6.3-6.29L22 12V6h-6z"/></svg>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="xpsx-sm mt-3" style="color: #3bd04a; font-weight: 600;">
              3.54%
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
