<div class="card mt-2 elevation">
  <div class="card-title">
    <b>Most Viewed Products</b>
  </div>
  <div class="card-content">
    <div class="row">
      <div class="col">
        <img class="product-item" src="/assets/img/dotk.jpeg" alt="">
      </div>
      <div class="col">
        <div class="p-options tright">
          <fa-icon [icon]="fa.ellipseV"></fa-icon>
        </div>

        <!-- Stats -->
        <div class="row">
          <div class="col-sm-4">
            <div class="xps tright mt-2">
              <fa-icon [icon]="fa.eye"></fa-icon>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="xpsx mt-2">
              3,246
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4">
            <div class="xps tright mt-2">
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e84142"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M16 18l2.29-2.29-4.88-4.88-4 4L2 7.41 3.41 6l6 6 4-4 6.3 6.29L22 12v6h-6z"/></svg>
            </div>
          </div>
          <div class="col-sm-8">
            <div class="xpsx-sm mt-3" style="color: #e84142; font-weight: 600;">
              1.23%
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
