<div class="card mt-2 elevation">

  <div class="card-content">
    <div class="row">
      <div class="col">
        <div class="card-title">
          <b>General Statistics</b>
        </div>
      </div>
      <div class="col">
        <div class="p-options-1 tright">
          <fa-icon [icon]="fa.ellipseV"></fa-icon>
        </div>
      </div>
    </div>

    <div class="center" style="padding: 3em;">
      <h1 class="big-title">3,523</h1>
      <div class="small-title">Items On Sale</div>
      <br />
      <br />

      <h1 class="big-title">456</h1>
      <div class="small-title">Sales this month</div>
    </div>
  </div>
</div>
<br />
<br />
