<div class="card mt-2 elevation">
  <div class="card-title">
    <b>Most Profitable Sections</b>
  </div>
  <div class="card-content">
    <table class="tb">
      <tr>
        <td>
          <span class="text-circle gold-circle">1</span>
        </td>
        <td>
          Electronics
        </td>
        <td>
          <img src="/assets/img/up_arrow.svg" alt="up">
        </td>
        <td>
          <span class="cr">$ 56.23k</span>
        </td>
      </tr>

      <tr>
        <td>
          <span class="text-circle grey-circle">2</span>
        </td>
        <td>
          Computer
        </td>
        <td>
          <img src="/assets/img/down_arrow.svg" alt="down">
        </td>
        <td>
          <span class="cr">$ 56.23k</span>
        </td>
      </tr>

      <tr>
        <td>
          <span class="text-circle red-circle">3</span>
        </td>
        <td>
          Construction
        </td>
        <td>
          <img src="/assets/img/up_arrow.svg" alt="up">
        </td>
        <td>
          <span class="cr">$ 56.23k</span>
        </td>
      </tr>

      <tr>
        <td>
          <span class="text-circle normal-circle">4</span>
        </td>
        <td>
          Auto Goods
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          <span class="cr">$ 56.23k</span>
        </td>
      </tr>

      <tr>
        <td>
          <span class="text-circle normal-circle">5</span>
        </td>
        <td>
          Camcorders
        </td>
        <td>
          &nbsp;
        </td>
        <td>
          <span class="cr">$ 56.23k</span>
        </td>
      </tr>
    </table>
  </div>
</div>
